<!DOCTYPE html>
<html>
  <head>
    <title>Manager Sign-In</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

  </head>
  <body>

  <div class='edit-food'>
    <!-- form for sign-in: to make a new session -->
    <form action="/api/items" method='post'>
      <input type="text" name="item[name]" placeholder="item">
      <input type="text" name="item[price]" placeholder="price (cents)">
      <input type="text" name="item[description]" placeholder="description">
      <input type="submit">
    </form>
  </div>

  </body>
</html>
