<!DOCTYPE html>

<html>
  <head>
    <title>order express</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>
  </head>

  <body>
    <div id='sidebar'>
      <nav id='main-nav'>
      <li id='table-url'>Tables</li>
      <li id='menu-url'>Menu</li>
      <li>Register</li>
      <li>Log out</li>
      </nav>
    </div>


    <!-- <ul class='side-list' id='party-list'>All Tables</ul> -->
    <div id='content-wrapper'>

      <div class='lists' id='tables-list'>
        <ul class='side-list' id='table-list'>All Tables</ul>
      </div>

      <div class='menu'>
      <ul id='menu-items'>
      </ul>
      </div>

      <section id="table-view">
      </section>


      <button id='place-order'>
        Order
      </button>

      </div>


    <!-- templates -->

    <!-- <script type='text/template' id='item-temp'>
    <li class = 'items'> <%%= name %> </li>
    </script>

    <script type='text/template' id='party-temp'>
      <%%= name %> party of <%%= size %>
    </script>
 -->
 <!-- ****** Backbone Models ****** -->
<script src='/javascripts/models/ItemModel.js'></script>
<script src='/javascripts/models/PartyModel.js'></script>

<!-- ****** Backbone Collection ****** -->
<script src='/javascripts/collections/ItemCollection.js'></script>
<script src='/javascripts/collections/PartyCollection.js'></script>

<!-- ****** Backbone Views ****** -->
<script src='/javascripts/views/ItemsView.js'></script>
<script src='/javascripts/views/PartyView.js'></script>
<script src='/javascripts/views/TableListView.js'></script>
<script src='/javascripts/views/TableView.js'></script>
<script src='/javascripts/views/GeneralListView.js'></script>

<!-- ****** Javascript App ****** -->

<script type= "text/javascript" src='/javascripts/app.js'></script>

  </body>
</html>
