<!DOCTYPE html>

<html>
  <head>
    <title>order express</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/tableview.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>
  </head>

  <body>
    <div id='sidebar'>
      <li><a class ='nav-item' href="/"> Home </a></li>

      <nav id='main-nav'>
      <li class= 'nav-item' id='table-url'> Tables </li>

      <li class= 'nav-item' id='menu-url'> Menu </li>
      <li class= 'nav-item' id='kitchen-url'> Kitchen </li>
      <li class= 'nav-item' >Register</li>

      <li class= 'nav-item' id='edit-url'><a href='./edit_menu'>Edit Menu</a></li>
      <form class= 'nav-item' action="/sessions" method='post'>
        <input type="hidden" name='_method' value='delete'>
        <input type="submit" value='log-out'>
      </form>
      </nav>
    </div>


    <!-- <ul class='side-list' id='party-list'>All Tables</ul> -->
    <div id='content-wrapper'>

      <div class='lists' id='tables-list'>
        <ul class='side-list' id='table-list'>All Tables</ul>
      </div>

      <div id= 'stage'>
        <div id='kitchen-view'>
          <h1> All Orders </h1>
          <div id="party-list">
          </div>
        </div>


        <div class='menu'>
          <ul id='menu-items'>
          </ul>
        </div>

        <div id='party-stage'>
        </div>
        <button id='place-order'>
           Place Order
        </button>

        </div>
    </div>



    <!-- templates -->

    <!-- <script type='text/template' id='item-temp'>
    <li class = 'items'> <%%= name %> </li>
    </script>

    <script type='text/template' id='party-temp'>
      <%%= name %> party of <%%= size %>
    </script>
 -->
 <!-- ****** Backbone Models ****** -->
<script src='/javascripts/models/ItemModel.js'></script>
<script src='/javascripts/models/PartyModel.js'></script>

<!-- ****** Backbone Collection ****** -->
<script src='/javascripts/collections/ItemCollection.js'></script>
<script src='/javascripts/collections/PartyCollection.js'></script>

<!-- ****** Backbone Views ****** -->
<script src='/javascripts/views/ItemsView.js'></script>
<script src='/javascripts/views/PartyView.js'></script>
<script src='/javascripts/views/TableListView.js'></script>
<script src='/javascripts/views/TableView.js'></script>
<script src='/javascripts/views/GeneralListView.js'></script>

<!-- ****** Javascript App ****** -->

<script type= "text/javascript" src='/javascripts/app.js'></script>

  </body>
</html>
