<html>
  <head>
    <title>order express</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <nav id='sidebar'></nav>
    <div class='single-table' id='table-details' ></div>
    <div class='single-table' id='table-order' ></div>
    <div class='single-table' id='guest-requests' ></div>
    <div class='menu' id='menu-items'></div>

  </body>
</html>
