<!DOCTYPE html>

<html>
  <head>
    <title>order express</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>
  </head>

  <body>
    <div id='sidebar'>
      <nav id='main-nav'></nav>
    </div>

    <div class='lists' id='tables'>
      <ul class='side-list' id='party-list'>All Tables</ul>
      <!-- <ul class='side-list' id='menu-list'>Menu Items</ul> -->
    </div>

    <div id='content-wrapper'>

      <div class='menu'>
      <ul id='menu-items'>
      </ul>
      <button id='place-order'>
        Order
      </button>
      </div>

    </div>


    <!-- templates -->

    <!-- <script type='text/template' id='item-temp'>
    <li class = 'items'> <%%= name %> </li>
    </script>

    <script type='text/template' id='party-temp'>
      <%%= name %> party of <%%= size %>
    </script>
 -->
 <!-- ****** Backbone Models ****** -->
<script src='/javascripts/models/ItemModel.js'></script>
<script src='/javascripts/models/PartyModel.js'></script>

<!-- ****** Backbone Collection ****** -->
<script src='/javascripts/collections/ItemCollection.js'></script>
<script src='/javascripts/collections/PartyCollection.js'></script>

<!-- ****** Backbone Views ****** -->
<script src='/javascripts/views/ItemsView.js'></script>
<script src='/javascripts/views/PartyView.js'></script>
<script src='/javascripts/views/GeneralListView.js'></script>

<!-- ****** Javascript App ****** -->

<script type= "text/javascript" src='/javascripts/app.js'></script>

  </body>
</html>
