<!DOCTYPE html>

<html>
  <head>
    <title>order express</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>
  </head>

  <body>
    <div class='sidebar'>
    <nav id='main-nav'></nav>
    </div>

    <div class='sidebar' id='tables'>
      <ul class='side-list' id='party-list'>All Tables</ul>
      <!-- <ul class='side-list' id='menu-list'>Menu Items</ul> -->
    </div>

    <div id='content-wrapper'>
      <!-- <div class='single-table' id='table-details' ></div>
      <div class='single-table' id='table-order' ></div>
      <div class='single-table' id='guest-requests' ></div> -->
    <div class='menu'>
      <ul id='menu-items'>
      </ul>

      </div>
    </div>


    <!-- templates -->

    <!-- <script type='text/template' id='item-temp'>
    <li class = 'items'> <%%= name %> </li>
    </script>

    <script type='text/template' id='party-temp'>
      <%%= name %> party of <%%= size %>
    </script>
 -->
    <script type= "text/javascript" src='/javascripts/mvc.js'></script>
    <script type= "text/javascript" src='/javascripts/app.js'></script>

  </body>
</html>
