<!DOCTYPE html>
<html>
  <head>
    <title>Manager Sign-In</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/signin.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>

  </head>
  <body id='auth-page-body'>

  <div class='sign-in'>
    <!-- form for sign-in: to make a new session -->
    <form action="/sessions" method='post'>
      <div class='sign-in-form'>
      <input type="text" name='username' placeholder='...username'>
      </div>

      <div class='sign-in-form'>
      <input type="password" name='password' placeholder='...password'>
      </div>

      <div class='sign-in-form'>
      <input type="submit" value='Sign-In'>
      </div>

    </form>


    <a href="/"> POS Home </a>

  </body>
</html>
