<!DOCTYPE html>

<html>
  <head>
    <title>order express</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src='/javascripts/lib/jquery.js'></script>
    <script src='/javascripts/lib/underscore.js'></script>
    <script src='/javascripts/lib/backbone.js'></script>
  </head>

  <body>


      <section id="party-list">
      </section>
  </body>

 <!-- ****** Backbone Models ****** -->
<script src='/javascripts/models/ItemModel.js'></script>
<script src='/javascripts/models/PartyModel.js'></script>

<!-- ****** Backbone Collection ****** -->
<script src='/javascripts/collections/ItemCollection.js'></script>
<script src='/javascripts/collections/PartyCollection.js'></script>

<!-- ****** Backbone Views ****** -->
<script src='/javascripts/views/ItemsView.js'></script>
<script src='/javascripts/views/PartyView.js'></script>
<script src='/javascripts/views/TableListView.js'></script>
<script src='/javascripts/views/TableView.js'></script>
<script src='/javascripts/views/GeneralListView.js'></script>

<!-- ****** Javascript App ****** -->

<script type= "text/javascript" src='/javascripts/app.js'></script>

  </body>
</html>
